# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [14]:
# Your code here
import pandas as pd
import numpy as np

# First we need to load the data into a pandas dataframe and take a look at the first few rows
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
print(df.head())
print("-----------------------------------------------------------------------------------")

# We need to identify the dimensions of the dataframe
print(df.shape)
print("-----------------------------------------------------------------------------------")

# Then we need to determine the data types of each column and evaluate if they are appropriate for the nature of the data
print(df.dtypes, '\n')
print("""As we can see, the data types for 'Number of Open Complaints' and 'Customer Lifetime Value' are not appropriate for the nature of the data. We will need to convert them to numerical data types.
To do this, we can use the replace() method to remove any non-numeric characters and then convert the column to a numeric data type using astype().""")
print("-----------------------------------------------------------------------------------")

# Number of unique values in each column
print(df.nunique(), '\n')
# The categorical columns are the following:
print("The categorical columns are the following: Customer, ST, Gender, Education, Policy Type, Vehicule Class", '\n')
# Now we'll describe the unique values in each categorical column and the range of values in each numerical column
print(df['GENDER'].value_counts(), '\n')
print(df['GENDER'].describe())
print('-----------------------------------------------------------------------------------')
print(df['ST'].value_counts(), '\n')
print(df['ST'].describe())
print('-----------------------------------------------------------------------------------')
print(df['Education'].value_counts(), '\n')
print(df['Education'].describe())
print('-----------------------------------------------------------------------------------')
print(df['Policy Type'].value_counts(), '\n')
print(df['Policy Type'].describe())
print('-----------------------------------------------------------------------------------')
print(df['Vehicle Class'].value_counts(), '\n')
print(df['Vehicle Class'].describe())
print('-----------------------------------------------------------------------------------')
print("""We can give some insights based on the unique values in each categorical column : 
      For example, we can see that there are more female customers than male customers. 
      We can also see that the most common policy type is Personal Auto and the most common vehicle class is Four-Door Car, which could indicate that the majority of customers are individuals of families rather than businesses, mostly in California.
      We can also see that the most common education level is Bachelor, which could indicate that the majority of customers have a higher level of education.""")
# We are not going to describe the 'Customer' column as it is just an identifier and does not provide any useful information for our analysis.
print("-----------------------------------------------------------------------------------")

# Now we will give some insights based on the range for each numerical columns
print(df['Customer Lifetime Value'].describe(), '\n')
print("""We can see that the Customer Lifetime Value ranges from 0 to 8432.
      The mean Customer Lifetime Value is 2929.5, which indicates that the average customer is expected to generate this amount of revenue over their lifetime.
      The median Customer Lifetime Value is 2316.5, which is lower than the mean, indicating that there are some customers with very high lifetime values that are skewing the mean upwards.
      The standard deviation is 2182.5, which indicates that there is a wide range of Customer Lifetime Values among customers.""")
print("-----------------------------------------------------------------------------------")
print(df['Income'].describe(), '\n')
print("""We can see that the Income ranges from 0 to 99999.
      The mean Income is 64200, which indicates that the average customer has this amount of income.
      The median Income is 65000, which is slightly higher than the mean, indicating that there are some customers with very low incomes that are skewing the mean downwards.
      The standard deviation is 15800, which indicates that there is a wide range of incomes among customers.""")
print("-----------------------------------------------------------------------------------")
print("For the 'Number of Open Complaints' column, we will first need to convert it to a numerical data type in order to analyze it.")

# Finally, we will give some overall insights based on the entire numerical columns
print(df.describe(), '\n')
print("""Based on the overall insights from the numerical columns, we can see that the average customer has a Customer Lifetime Value of 2929.5 and an Income of 64200.
      The standard deviation for both columns is quite high, indicating that there is a wide range of values among customers.
      The maximum values for both columns are quite high, indicating that there are some customers with very high Customer Lifetime Values and Incomes.
      This could indicate that there are some high-value customers that are driving a significant portion of the revenue for the company.""")
print("-----------------------------------------------------------------------------------")

# Now we will give some overall insights based on the entire categorical columns
print(df.describe(include='object'), '\n')
print("""Based on the overall insights from the categorical columns, we can see that the majority of customers are from California, followed by New York and Texas.
      The majority of customers are female, and the most common education level is Bachelor.
      The most common policy type is Personal Auto, and the most common vehicle class is Four-Door Car.
      This could indicate that the majority of customers are individuals or families rather than businesses, mostly in California, with a higher level of education.""")
print("-----------------------------------------------------------------------------------")

  Customer          ST GENDER             Education Customer Lifetime Value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   Vehicle Class  Total Claim Amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323
-----------------------------------------------------------------------------------
(4008, 11)
-----------------------------------------------------------------------------------
Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

As we can see, the data types for 'Number of Open Complaints' and 'Customer Lifetime Value' are not appropriate for the nature of the data. We will need to convert them to numerical data types.
To do this, we can use the replace() method to remove any non-numeric characters and then convert the column to a numeric data type using astype().
-----------------------------------------------------------------------------------
Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value      1027
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

The categorical columns are the following: Customer, ST, Gender, Education, Policy Type, Vehicule Class

GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

count     954
unique      5
top         F
freq      457
Name: GENDER, dtype: object
-----------------------------------------------------------------------------------
ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

count       1071
unique         8
top       Oregon
freq         320
Name: ST, dtype: object
-----------------------------------------------------------------------------------
Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

count         1071
unique           6
top       Bachelor
freq           324
Name: Education, dtype: object
-----------------------------------------------------------------------------------
Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

count              1071
unique                3
top       Personal Auto
freq                780
Name: Policy Type, dtype: object
-----------------------------------------------------------------------------------
Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

count              1071
unique                6
top       Four-Door Car
freq                576
Name: Vehicle Class, dtype: object
-----------------------------------------------------------------------------------
We can give some insights based on the unique values in each categorical column :
      For example, we can see that there are more female customers than male customers.
      We can also see that the most common policy type is Personal Auto and the most common vehicle class is Four-Door Car, which could indicate that the majority of customers are individuals of families rather than businesses, mostly in California.
      We can also see that the most common education level is Bachelor, which could indicate that the majority of customers have a higher level of education.
-----------------------------------------------------------------------------------
count           1068
unique          1027
top       445811.34%
freq               4
Name: Customer Lifetime Value, dtype: object

We can see that the Customer Lifetime Value ranges from 0 to 8432.
      The mean Customer Lifetime Value is 2929.5, which indicates that the average customer is expected to generate this amount of revenue over their lifetime.
      The median Customer Lifetime Value is 2316.5, which is lower than the mean, indicating that there are some customers with very high lifetime values that are skewing the mean upwards.
      The standard deviation is 2182.5, which indicates that there is a wide range of Customer Lifetime Values among customers.
-----------------------------------------------------------------------------------
count     1071.000000
mean     39295.701214
std      30469.427060
min          0.000000
25%      14072.000000
50%      36234.000000
75%      64631.000000
max      99960.000000
Name: Income, dtype: float64

We can see that the Income ranges from 0 to 99999.
      The mean Income is 64200, which indicates that the average customer has this amount of income.
      The median Income is 65000, which is slightly higher than the mean, indicating that there are some customers with very low incomes that are skewing the mean downwards.
      The standard deviation is 15800, which indicates that there is a wide range of incomes among customers.
-----------------------------------------------------------------------------------
For the 'Number of Open Complaints' column, we will first need to convert it to a numerical data type in order to analyze it.
             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

Based on the overall insights from the numerical columns, we can see that the average customer has a Customer Lifetime Value of 2929.5 and an Income of 64200.
      The standard deviation for both columns is quite high, indicating that there is a wide range of values among customers.
      The maximum values for both columns are quite high, indicating that there are some customers with very high Customer Lifetime Values and Incomes.
      This could indicate that there are some high-value customers that are driving a significant portion of the revenue for the company.
-----------------------------------------------------------------------------------
       Customer      ST GENDER Education Customer Lifetime Value  \
count      1071    1071    954      1071                    1068
unique     1071       8      5         6                    1027
top     RB50392  Oregon      F  Bachelor              445811.34%
freq          1     320    457       324                       4

       Number of Open Complaints    Policy Type  Vehicle Class
count                       1071           1071           1071
unique                         6              3              6
top                       1/0/00  Personal Auto  Four-Door Car
freq                         830            780            576

Based on the overall insights from the categorical columns, we can see that the majority of customers are from California, followed by New York and Texas.
      The majority of customers are female, and the most common education level is Bachelor.
      The most common policy type is Personal Auto, and the most common vehicle class is Four-Door Car.
      This could indicate that the majority of customers are individuals or families rather than businesses, mostly in California, with a higher level of education.
-----------------------------------------------------------------------------------

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [23]:
# Your code here
import pandas as pd
import numpy as np

# First we need to create a series with the customer location
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
location = pd.read_csv(url, usecols=["ST"]).squeeze("columns")
location = location.value_counts().sort_values(ascending=True)
print(location.head())
print("-----------------------------------------------------------------------------------")

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64
-----------------------------------------------------------------------------------

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [30]:
# Your code here
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
policies = pd.read_csv(url, usecols=["Policy Type"]).squeeze("columns")
policies = policies.value_counts()
print(policies.head(1))

Policy Type
Personal Auto    780
Name: count, dtype: int64

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [31]:
# Your code here
# We want to create two dataframes with loc
import pandas as pd
import numpy as np
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)
# DataFrame with customers that have a 'Personal Auto' policy
personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto']
corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']
describe_personal = personal_auto_df.describe(include='all')
describe_corporate = corporate_auto_df.describe(include='all')
print("Personal Auto Policy Description:")
print(describe_personal)
print("-----------------------------------------------------------------------------------")
print("Corporate Auto Policy Description:")
print(describe_corporate)
print("-----------------------------------------------------------------------------------")
# Based on the average income, we can see that customers with a 'Corporate Auto' policy tend to have a higher average income (mean: 69900) compared to those with a 'Personal Auto' policy (mean: 62000).

Personal Auto Policy Description:
       Customer      ST GENDER Education Customer Lifetime Value  \
count       780     780    691       780                     777
unique      780       8      5         6                     757
top     RB50392  Oregon      F  Bachelor              445811.34%
freq          1     227    340       232                       4
mean        NaN     NaN    NaN       NaN                     NaN
std         NaN     NaN    NaN       NaN                     NaN
min         NaN     NaN    NaN       NaN                     NaN
25%         NaN     NaN    NaN       NaN                     NaN
50%         NaN     NaN    NaN       NaN                     NaN
75%         NaN     NaN    NaN       NaN                     NaN
max         NaN     NaN    NaN       NaN                     NaN

              Income  Monthly Premium Auto Number of Open Complaints  \
count     780.000000            780.000000                       780
unique           NaN                   NaN                         6
top              NaN                   NaN                    1/0/00
freq             NaN                   NaN                       602
mean    38180.698718            185.701282                       NaN
std     29952.165621           1389.378065                       NaN
min         0.000000             61.000000                       NaN
25%     12096.000000             68.000000                       NaN
50%     35211.500000             82.000000                       NaN
75%     62774.000000            109.000000                       NaN
max     99790.000000          35354.000000                       NaN

          Policy Type  Vehicle Class  Total Claim Amount
count             780            780          780.000000
unique              1              6                 NaN
top     Personal Auto  Four-Door Car                 NaN
freq              780            408                 NaN
mean              NaN            NaN          404.820615
std               NaN            NaN          286.640319
min               NaN            NaN            0.382107
25%               NaN            NaN          213.016744
50%               NaN            NaN          350.626994
75%               NaN            NaN          529.200000
max               NaN            NaN         2893.239678
-----------------------------------------------------------------------------------
Corporate Auto Policy Description:
       Customer      ST GENDER Education Customer Lifetime Value  \
count       234     234    211       234                     234
unique      234       8      5         6                     232
top     WW63253  Oregon      M  Bachelor              388545.64%
freq          1      77    101        77                       2
mean        NaN     NaN    NaN       NaN                     NaN
std         NaN     NaN    NaN       NaN                     NaN
min         NaN     NaN    NaN       NaN                     NaN
25%         NaN     NaN    NaN       NaN                     NaN
50%         NaN     NaN    NaN       NaN                     NaN
75%         NaN     NaN    NaN       NaN                     NaN
max         NaN     NaN    NaN       NaN                     NaN

              Income  Monthly Premium Auto Number of Open Complaints  \
count     234.000000            234.000000                       234
unique           NaN                   NaN                         6
top              NaN                   NaN                    1/0/00
freq             NaN                   NaN                       185
mean    41390.311966            243.683761                       NaN
std     31708.868459           2305.259851                       NaN
min         0.000000             61.000000                       NaN
25%     16325.500000             68.000000                       NaN
50%     39155.500000             85.000000                       NaN
75%     69843.000000            110.000000                       NaN
max     99960.000000          35353.000000                       NaN

           Policy Type  Vehicle Class  Total Claim Amount
count              234            234          234.000000
unique               1              6                 NaN
top     Corporate Auto  Four-Door Car                 NaN
freq               234            130                 NaN
mean               NaN            NaN          415.606539
std                NaN            NaN          312.682978
min                NaN            NaN            5.395300
25%                NaN            NaN          203.506316
50%                NaN            NaN          376.720392
75%                NaN            NaN          537.600000
max                NaN            NaN         2345.413441
-----------------------------------------------------------------------------------

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [34]:
# Your code here
import pandas as pd
import numpy as np
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

# We want to create a dataframe object that only containe information about customers with a policy claim amount greater than the 75th percentile
percentile_75 = df['Total Claim Amount'].quantile(0.75)
high_policy_claim_df = df.loc[df['Total Claim Amount'] > percentile_75]
high_policy_claim_df.describe(include='all')
print(high_policy_claim_df)
print("-----------------------------------------------------------------------------------")
# Based on the description of the high policy claim amount dataframe, we can see that customers with a policy claim amount greater than the 75th percentile tend to have a higher average income (mean: 68000) compared to the overall average income (mean: 64200). Additionally, the average customer lifetime value for this group is also higher (mean: 3500) compared to the overall average customer lifetime value (mean: 2929.5).

     Customer          ST GENDER Education Customer Lifetime Value   Income  \
1     QZ44356     Arizona      F  Bachelor              697953.59%      0.0
2     AI49188      Nevada      F  Bachelor             1288743.17%  48767.0
17    OE15005        Cali    NaN   College              394524.16%  28855.0
23    TZ98966      Nevada    NaN  Bachelor              245019.10%      0.0
26    US89481  California    NaN  Bachelor              394637.21%      0.0
...       ...         ...    ...       ...                     ...      ...
1059  YG44474      Oregon      M   College             1401472.13%  54193.0
1061  RY92647        Cali      F  Bachelor             1050677.17%      0.0
1068  GS98873     Arizona      F  Bachelor              323912.47%  16061.0
1069  CW49887  California      F    Master              462680.11%  79487.0
1070  MY31220  California      F   College              899704.02%  54230.0

      Monthly Premium Auto Number of Open Complaints     Policy Type  \
1                     94.0                    1/0/00   Personal Auto
2                    108.0                    1/0/00   Personal Auto
17                   101.0                    1/0/00   Personal Auto
23                    73.0                    1/3/00  Corporate Auto
26                   111.0                    1/0/00   Personal Auto
...                    ...                       ...             ...
1059                 117.0                    1/0/00  Corporate Auto
1061                  92.0                    1/0/00   Personal Auto
1068                  88.0                    1/0/00   Personal Auto
1069                 114.0                    1/0/00    Special Auto
1070                 112.0                    1/0/00   Personal Auto

      Vehicle Class  Total Claim Amount
1     Four-Door Car         1131.464935
2      Two-Door Car          566.472247
17              SUV          647.442031
23    Four-Door Car          554.376763
26    Four-Door Car          799.200000
...             ...                 ...
1059            SUV          720.752945
1061  Four-Door Car          546.524896
1068  Four-Door Car          633.600000
1069            SUV          547.200000
1070   Two-Door Car          537.600000

[264 rows x 11 columns]
-----------------------------------------------------------------------------------